################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/.vs/ExerciciosCSharp/DesignTimeBuild/.dtbcache.v2
/.vs/ExerciciosCSharp/FileContentIndex/e481e4a8-a785-4629-92f7-7c8fab98481f.vsidx
/.vs/ExerciciosCSharp/v17/.futdcache.v2
/.vs/ExerciciosCSharp/v17/.suo
/.vs/ProjectEvaluation/exercicioscsharp.metadata.v7.bin
/.vs/ProjectEvaluation/exercicioscsharp.projects.v7.bin
/bin/Debug/net7.0/ExerciciosCSharp.dll
/bin/Debug/net7.0/ExerciciosCSharp.pdb
/obj/Debug/net7.0/ref/ExerciciosCSharp.dll
/obj/Debug/net7.0/refint/ExerciciosCSharp.dll
/obj/Debug/net7.0/ExerciciosCSharp.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/ExerciciosCSharp.dll
/obj/Debug/net7.0/ExerciciosCSharp.pdb
